%description-18 {
  font-size: toRem(19);
  font-family: $font-apfel-g;
  font-weight: bold;
  text-transform: uppercase;
}

%description-40 {
  font-size: toRem(35);
  font-family: $font-apfel-g;
  font-weight: bold;
  line-height: 0.75;
  align-self: flex-start;
  text-transform: uppercase;
}
