.input {
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: toRem(20);
  text-transform: uppercase;
  font-family: $font-apfel-g;
  font-weight: 600;
  border-color: transparent;
  outline: none;
  color: $red;
  flex: 1;

  &--order {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    background-color: $white;
  }

  &--header {
    width: 7rem;
    background-color: $white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @include text-sm;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border-radius: 9999px;
    text-transform: capitalize;

    @include media("<=tablet") {
      width: 7rem;
    }
  }

  &--header:focus {
    width: 10rem;

    @include media("<=tablet") {
      width: 7rem;
    }
  }

  @include media("<=tablet") {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    width: 100%;
    font-size: toRem(30);
  }

  @include media("<=phone") {
    font-size: toRem(25);
    border-radius: 6px;
  }

  @include media("<=sm-phone") {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: toRem(20);
  }
}

.input::placeholder {
  color: #819388;
}
