@import "../../styles/main.scss";

.footer {
  position: relative;
  height: 95vh;
  width: 100%;
  padding-left: toRem(107);
  padding-right: toRem(107);
  padding-top: toRem(200);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: top;
  z-index: 1;

  & > * {
    z-index: 10;
  }

  &__header {
    &__text {
      font-size: toRem(40);
      font-family: $font-apfel-g;
      font-weight: bold;
      text-align: center;
      color: $white;
    }
  }

  &__links {
    padding-top: toRem(200);
    display: flex;
    justify-content: space-between;

    &__socials {
      display: flex;
      gap: 20px;
    }
  }

  &__form {
    display: flex;
    gap: toRem(21);
    justify-content: space-between;
    align-items: center;
    padding-top: toRem(50);

    &__input {
      width: toRem(500);
      border-radius: 4px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      font-size: toRem(20);
      text-transform: uppercase;
      font-family: $font-apfel-g;
      font-weight: 600;
      border-color: transparent;
      outline: none;
      color: $red;
    }

    &__input::placeholder {
      color: #819388;
    }
  }
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.518);
  z-index: -1;
}
