.footer {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-left: toRem(107);
  padding-right: toRem(107);
  padding-top: toRem(180);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: top;
  z-index: 1;

  @include media("<tablet") {
    background-attachment: scroll;
    padding-top: toRem(50);
  }

  @include media("<=phone") {
    padding-left: toRem(30);
    padding-right: toRem(30);
    padding-top: toRem(240);
  }

  @include media("<=sm-phone") {
    padding-left: toRem(10);
    padding-right: toRem(10);
    padding-top: toRem(150);
  }

  & > * {
    z-index: 10;
  }

  &__header {
    &__text {
      font-size: toRem(40);
      font-family: $font-apfel-g;
      font-weight: bold;
      text-align: center;
      color: $white;

      @include media("<=tablet") {
        font-size: toRem(50);
      }

      @include media("<=phone") {
        font-size: toRem(40);
      }

      @include media("<=sm-phone") {
        font-size: toRem(30);
      }
    }
  }

  &__links {
    padding-top: toRem(200);
    display: flex;
    justify-content: space-between;

    @include media("<=tablet") {
      flex-direction: column;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }

    @include media("<=phone") {
      top: 75%;
    }

    &__name {
      margin-top: 10px;

      @include media("<=phone") {
        margin-top: 0;
        font-size: 1.5rem;
      }

      @include media("<=sm-phone") {
        font-size: 1.2rem;
      }

      & > span {
        @include media("<=phone") {
          display: block;
          margin: 10px;
        }
      }

      #dash {
        @include media("<=phone") {
          display: none;
        }
      }
    }

    &__socials {
      display: flex;
      gap: 15px;
      justify-content: center;

      @include media("<=phone") {
        font-size: 1.5rem;
      }

      @include media("<=sm-phone") {
        font-size: 1.2rem;
      }
    }

    &__social {
      display: flex;
      gap: 10px;

      @include media("<=tablet") {
        flex-direction: column;
      }
    }
  }

  &__form {
    display: flex;
    gap: toRem(22);
    justify-content: space-between;
    align-items: center;
    padding-top: toRem(50);

    @include media("<=tablet") {
      flex-direction: column;
    }

    &__input {
      border-radius: 4px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      font-size: toRem(20);
      text-transform: uppercase;
      font-family: $font-apfel-g;
      font-weight: 600;
      border-color: transparent;
      outline: none;
      color: $red;
      flex: 1;

      @include media("<=tablet") {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;

        width: 100%;
        font-size: toRem(30);
      }

      @include media("<=phone") {
        font-size: toRem(25);
        border-radius: 6px;
      }

      @include media("<=sm-phone") {
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        font-size: toRem(20);
      }
    }

    &__input::placeholder {
      color: #819388;
    }
  }

  &__feedback {
    background-color: $red;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin: toRem(50);
    border-radius: 5px;

    &__text {
      color: $white;
      font-family: $font-apfel-g;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.518);
  z-index: -1;
}
