%padding-h-feature {
  padding-left: toRem(90);
  padding-right: 0;
  padding-top: toRem(140);
}

.hero {
  background-color: $red;
  height: 130vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  margin-top: toRem(80);
  padding-top: 2rem;

  @include media("<=tablet") {
    height: 110rem;
    margin-top: toRem(100);
    display: block;
    padding-top: 0;
  }

  @include media("<=phone") {
    margin-top: toRem(35);
    height: 120vh;
  }

  --mask: radial-gradient(
        80.5px at 50% calc(100% - 108px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 72px) 0/144px 100%,
    radial-gradient(80.5px at 50% calc(100% + 72px), #0000 99%, #000 101%) 50%
      calc(100% - 36px) / 144px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  @include media("<=tablet") {
    grid-template-columns: 1fr;
    text-align: center;
  }

  &__feature {
    @extend %padding-h-feature;

    @include media("<=tablet") {
      padding-left: 0;
      padding-top: toRem(160);
    }

    @include media("<sm-phone") {
      padding-top: toRem(140);
    }

    &__header {
      @extend %title-100;

      @include media("<=tablet") {
        font-size: 5rem;
      }

      @include media("<=phone") {
        font-size: 3.5rem;
      }

      @include media("<sm-phone") {
        font-size: 2rem;
      }
    }

    &__paragraph {
      margin-top: toRem(25);
      max-width: 70%;
      line-height: 1.3;

      @include media("<=tablet") {
        margin-top: toRem(10);
        max-width: 100%;
      }

      @include media("<=phone") {
        line-height: 1;
      }

      @include media("<sm-phone") {
        font-size: 1.5rem;
      }
    }

    &__button {
      margin-top: toRem(20);

      @include media("<=tablet") {
        margin-top: toRem(40);
      }

      @include media("<=phone") {
        margin-top: toRem(30);
      }
    }
  }

  &__slider {
    grid-column: 1 / -1;
  }

  &__photo {
    display: grid;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    margin-bottom: -2.7rem;

    @include media("<=tablet") {
      justify-content: center;
    }

    &__img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;

      animation: rotation 40s infinite linear;

      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }

      @include media("<=tablet") {
        max-width: 80%;
        max-height: 80%;
        justify-self: center;
        margin-top: 4rem;
      }

      // @include media("<=phone") {
      //   margin-top: 1rem;
      // }
    }
  }
}
