.pizzaDiv {
  margin-top: -20vh;

  &--green {
    background-color: $pale-green;
  }

  &--beige {
    background-color: $beige;
  }
}

.pizzaIntro {
  display: grid;
  height: 120vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: toRem(28);
  justify-content: center;
  padding-top: 20vh;

  @include media("<=tablet") {
    height: 100rem;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @include media("<=phone") {
    padding-top: 10vh;
  }

  &__header {
    grid-column: 1 / 2;
    align-self: end;
    padding-left: toRem(90);

    margin-top: 10rem;

    @include media("<=tablet") {
      padding-left: 0;
      grid-row: 1 / 2;
      width: 60%;
      margin: 0 auto;
      z-index: 5;
    }

    @include media("<=phone") {
      width: 80%;
    }

    &__title {
      @extend %title-100;
      color: $red;
    }
  }

  &__text {
    grid-column: 1 / 2;
    padding-left: toRem(90);
    width: 80%;

    &__paragraph {
      color: $red;
      line-height: 1.5;
    }

    @include media("<=tablet") {
      padding-left: 0;
      grid-row: 3 / 4;
      width: 60%;
      margin: 0 auto;
      margin-top: 2rem;
      z-index: 5;
    }

    @include media("<=phone") {
      width: 80%;
    }
  }

  &__picture {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    @include media("<=tablet") {
      grid-column: 1 / -1;
    }

    display: grid;
    justify-items: center;
  }

  &__photo {
    align-self: center;
    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include media("<=tablet") {
        height: toRem(600);
      }

      @include media("<=phone") {
        height: toRem(500);
      }
    }
  }
}
