.pizzaVideo {
  height: 120vh;
  position: relative;
  width: 100%;
  overflow: hidden;

  @include media("<=tablet") {
    background: url("../../../images/features/delivery-concept-portrait-happy-african-american-delivery-man-red-cloth-holding-box-package-isolated-grey-studio-background-copy-space-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 40%;
    background-position-y: top;
    height: 100vh;
  }

  & > * {
    z-index: 10;
  }

  &__video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    @include media("<=tablet") {
      display: none;
      z-index: -500;
    }

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include media("<=tablet") {
        display: none;
        z-index: -500;
      }
    }
  }

  &__text {
    @include textCenter;

    @include media("<=phone") {
      width: 100%;
    }

    @include media("<=sm-phone") {
      width: 90%;
    }

    &__header {
      @extend %title-100;
    }
  }
}

.pizzaVideo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.514);
  z-index: 1;

  @include media("<=tablet") {
    background: rgba(0, 0, 0, 0.498);
  }
}
