.menu {
  //   @include divide-y;
  //   @include divide-stone-200;
  padding-top: 7.5rem;
  padding-bottom: 0.5rem;
  color: $red;
  //   overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}
