.menu {
  //   @include divide-y;
  //   @include divide-stone-200;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: $red;
  //   overflow: scroll;
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 48rem;
}
