.menuList {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid rgba($red, 0.2);

  &__image {
    height: 8rem;
    border-radius: 5px;

    @include media("<=tablet") {
      height: 12rem;
    }

    &--soldOut {
      @include grayscale-effect;
    }
  }

  &__details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @include media("<=tablet") {
      padding-top: 0.5rem;
    }

    &__name {
      font-weight: 500;
    }

    &__ingredients {
      @include text-sm;
      @include text-stone-500;
      text-transform: capitalize;
      font-style: italic;
      padding-top: 0.3rem;

      @include media("<=tablet") {
        padding-top: 0.5rem;
      }
    }

    &__priceDiv {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__price {
      @include text-sm;
    }

    &__soldOut {
      @include text-sm;
      @include text-stone-500;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__update {
      display: flex;
      align-items: center;
      gap: 2rem;

      @include media("<=phone") {
        gap: 0.75rem;
      }
    }
  }
}

.menuList:first-child {
  border-top: none;
}
