.orderForm {
  color: $red;
  background-color: $beige;
  padding-top: 9rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;

  @include media("<=tablet") {
    padding-top: 12rem;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media("<=phone") {
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include media("<sm-phone") {
    padding-top: 7rem;
  }

  &__form {
    padding-top: 0.5rem;

    @include media("<=tablet") {
      padding-top: 1.5rem;
    }
  }

  &__text {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;

    @include media("<=tablet") {
      font-size: 3rem;
      padding-top: 3rem;
      letter-spacing: 0.2rem;
    }

    @include media("<=phone") {
      font-size: 1.8rem;
      padding-top: 0;
    }

    @include media("<sm-phone") {
      font-size: 1.6rem;
    }
  }

  &__nameInput {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include media("<=tablet") {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 4rem;
    }

    @include media("<=phone") {
      margin-top: 0;
    }

    &__label {
      flex-basis: 10rem;

      @include media("<=tablet") {
        flex-basis: 3rem;
      }

      @include media("<=phone") {
        flex-basis: 2rem;
      }
    }

    &__div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      @include media("<=tablet") {
        width: 100%;
      }
    }

    &__error {
      margin-top: 0.5rem;
      border-radius: 4px;
      font-size: 1rem;
      line-height: 1rem;
      padding: 0.5rem;
      color: $red;
      @include bg-red-100;

      @include media("<=tablet") {
        font-size: 2rem;
        padding: 1rem;
      }

      @include media("<=phone") {
        font-size: 1.2rem;
        line-height: 1;
      }
    }
  }

  &__checkbox {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @include media("<=tablet") {
      padding-top: 1rem;
    }

    &__input {
      height: 1.5rem;
      width: 1.5rem;
      accent-color: $red;
      outline: 2px solid transparent;
      outline-offset: 2px;
      cursor: pointer;

      @include media("<=tablet") {
        height: 3rem;
        width: 3rem;
      }

      @include media("<=phone") {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
