.error {
  padding-top: 20.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 48rem;
  background-color: $beige;
  color: $red;
  text-align: center;

  @include media("<=tablet") {
    width: 100%;
  }
}
