.cartItem {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba($red, 0.2);

  &__name {
    margin-bottom: 0;
  }

  &__update {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    &__price {
      @include text-sm;
      font-weight: 700;
    }
  }
}
