.emptyCart {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8rem;
  color: $red;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;

  &__text {
    margin-top: 1.75rem;
    font-weight: 600;
  }

  @include media("<tablet") {
    padding-top: 10rem;
  }
}
