@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/apfel-grotezk-fett.woff2") format("woff2"),
    url("../fonts/apfel-grotezk-fett.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/apfel-grotezk-regular.woff2") format("woff2"),
    url("../fonts/apfel-grotezk-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse BP";
  src: url("../fonts/suisse-bp-light.woff2") format("woff2"),
    url("../fonts/suisse-bp-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse BP";
  src: url("../fonts/suisse-bp-ultra-light.woff2") format("woff2"),
    url("../fonts/suisse-bp-ultra-light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse BP";
  src: url("../fonts/apfel-grotezk-regular.woff2") format("woff2"),
    url("../fonts/apfel-grotezk-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
