html {
  font-size: calc(100vw / 1440 * 16);
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: initial;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;

  @include media("<=phone") {
    font-size: calc(100vw / 550 * 16);
    line-height: 1;
  }

  @include media("<=375px") {
    font-size: calc(100vw / 375 * 16);
  }
}

body {
  font-family: $font-suisse-bp, sans-serif;
  font-weight: 400;
  font-size: toRem(22);
  background: $beige;
  color: $white;
  overflow-x: hidden;

  @include media("<=tablet") {
    font-size: 2.4rem;
  }

  @include media("<=phone") {
    font-size: 1.7rem;
  }

  @include media("<=sm-phone") {
    font-size: 1.4rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: $red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $red;
}

::selection {
  background-color: $red;
  color: $white;
}
